// colors
$white: #ffffff;
$black: #000000;
$blue: #2C52B7;
$grey: #F1F5F9;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Join {
    height: 400px;
    background: url("../images/backdrop.png");
    background-size: cover;
    margin: 100px 8% 50px 8%;
    background-repeat: no-repeat;
    display: flex;
    padding: 0 3%;
    border-radius: 25px;

    .Join-Left {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 30px;
        color: $white;
        font-size: 20px;
        padding-right: 5px;


        button {
            background-color: #F18F01;
            border: none;
            outline: none;
            height: 38px;
            width: 160px;
            border-radius: 25px;
            color: $white;
            @include flex;
            margin-top: 40px;
            cursor: pointer;

            img {
                margin-left: 5px;
            }
        }
    }

    .Join-Right {
        width: 50%;
        height: 100%;
        @include flex;
    }
}

// MEDIA QUERIES
@media screen and (max-width:720px) {
    .Join {
        height: 320px;

        .Join-Left {
            width: 90%;
            font-size: 16px;
        }

        .Join-Right {
            width: 90%;

            img {
                height: 70%;
                width: 95%;
            }
        }
    }
}

@media screen and (max-width:530px) {
    .Join {
        height: 430px;
        flex-direction: column-reverse;
        @include flex;
        padding: 10px 0;

        .Join-Left {
            width: 90%;
            font-size: 16px;
        }

        .Join-Right {
            width: 90%;

            img {
                height: 95%;
                width: 95%;
            }
        }
    }
}