// colors
$black: #000000;


@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Video-Container {
    height: 500px;
    padding: 0 5%;
    @include flex;
    flex-direction: column;

    .Title {
        height: 10%;
        width: 50%;
        font-size: 28px;
        font-weight: 600;
        @include flex;
    }

    .Video-Section {
        height: 90%;
        width: 100%;
        @include flex;
        padding: 30px 0;
        border-radius: 15px;
        height: 100%;
        width: 70%;
        background: url("../images/video.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @include flex;
        cursor: pointer;
    }
}

@media screen and (max-width:1060px) {
    .Video-Container {
        height: 400px;
        margin-top: 30px;

        .Title {
            width: 90%;
        }

        .Video-Section {
            width: 90%;
            min-width: 500px;
        }
    }
}

@media screen and (max-width:700px) {
    .Video-Container {
        padding: 0 1;
        min-height: 300px;
        height: 350px;

        .Title {
            width: 90%;
            height: 40px;
            font-size: 25px;
        }

        .Video-Section {
            width: 100%;
            min-width: 300px;
            min-height: 150px;
            background-size: contain;
        }
    }
}

@media screen and (max-width:400px) {
    .Video-Container {
        padding: 0 1;

        .Title {
            width: 90%;
            font-size: 23px;
        }

        .Video-Section {
            min-height: 220px;
            height: 220px;
            width: 100%;
        }
    }
}